name: Package Linux

on:
  workflow_call:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Build Deb
        run: |
          chmod +x gradlew  
          ./gradlew packageDeb

      - name: Upload DEB
        uses: actions/upload-artifact@v4
        with:
          name: app.deb
          path: build/compose/binaries/main/deb/*.deb
          if-no-files-found: error
