name: Package macOS

on:
  workflow_call:

jobs:
  build-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Build Dmg
        run: |
          chmod +x gradlew  
          ./gradlew packageDmg

      - name: Upload Dmg
        uses: actions/upload-artifact@v4
        with:
          name: app.dmg
          path: build/compose/binaries/main/dmg/*.dmg
          if-no-files-found: error
